
.container-fluid
{
    padding: 0;
}
.row
{
    margin: 0;
}
.page-main
{
    padding: 20px 20px; 
    background: #eee;
}
.innerContainer
{
    background: #fff;
    padding: 20px;
}
header
{
    
    height: 80px;
    position: relative;
    margin-bottom: 0;
       background: #4e84c4;
}
footer
{
    height: 20px;
     background: #4e84c4;
}
.logo
{
    margin: 12px 0 0 20px;
}
.input-group.input-group-unstyled input.form-control {
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
}


#viewport {
  width: 100%;
  height: 418px;
  overflow-y: scroll;
}

#viewport table {
  width: 100%;
}
.userImage
{
    width:70px;
}

.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th,.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th
{
    vertical-align: middle;
}

@media only screen and (max-width: 768px) {
    .logo
    {
        text-align: center;
        margin: 20px 0 0 0px;
    }
}