<div class="container-fluid">
    <page-header></page-header>
    <div class="row page-main">
        <div class="innerContainer col-xs-12 col-xs-12 col-md-12 col-lg-12">
             <div class="form-group col-lg-4 col-md-4 col-sm-12 col-xs-12 pull-right">
                <div class="form-group has-feedback">

                    <input type="text" class="form-control" id="inputValidation" placeholder="Search" ng-model="userSearch"/>
                    <span class="glyphicon glyphicon-search form-control-feedback"></span>
                </div>
            </div>

              <div id="viewport" buffered-scroll="increaseLimit();" ng-init="limit=50;" class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                        <th>S.No</th>
                        <th>Employee ID</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Photo</th>
                    </tr>
                    </thead>
                  <tbody>
                    <tr ng-repeat="data in items | orderBy: '-created_at' | filter:userSearch |  limitTo:limit" ng-if="data.name!=''">
                      <td>{{$index+1}}</td>
                      <td>{{data.id}}<p ng-if="data.id == ''">--</p></td>
                      <td>{{data.name}}<p ng-if="data.name == ' ' || data.name == null">--</p></td>
                       <td>{{data.emails[0].email}}<p ng-if="data.emails[0].email == '' || data.emails[0].email == null">--</p></td>
                      <td><img ng-src='{{ data.image || "images/no-user-image-icon.png" }}' class="img-responsive userImage"/></td>
                    </tr>
                  </tbody>
                </table>
              </div>
        </div>
    </div>
    <footer></footer>
</div>